.AboutCard {
    max-height: 97vh;
    /* background-color: white; */
    margin: 5vmin;
}
.row{
    display:flex;
    flex-direction: row;
}
.column{
    flex:1;
}
.text-column{
    order:1;
}
.image-column{
    order:2;
}

.About-image{
    max-width:60vmin;
    height: auto;
    margin-top:-20vmin;
    margin-left:10vmin;
}

.About p{
    font-size: calc(8px + 2vmin);
    text-align: left;
    margin-left:4vmin;
    padding: 1vmin;
    width:100%;
}
.resumeButton{
    display:flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    text-decoration: none;
    height: 5vmin;
    background-color: rgb(255, 214, 219);
    border-radius: 1.5vmin;
    border: 3px solid #8a3b65;
    padding-left:1vmin;
    padding-right:1vmin;
    padding-top:0.5vmin;
    padding-bottom:0.5vmin;
    margin-top:7vmin;
    margin-left:40vmin;
    color:#8a3b65;

}

.resumeButton span{
    font-size: 29px;
    text-decoration: none;
}
.resumeButton:hover{
    background-color: #8a3b65;
    color:rgb(255, 214, 219);
    border-color:rgb(255, 214, 219);
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;


}