.App {
  text-align: center;
  background-color: #fffbf0;
  overflow:hidden;
  scroll-behavior:smooth;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #fffbf0;
  font-family: Garamond, serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('assets/background.jpeg');
}

.Tagline {
  font-size: calc(9px + 2vmin);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation: typing 10s steps(40, end) 0s infinite,
  blink-caret .75s step-end infinite;
  margin-top: 3vmin;
}
@keyframes typing {
  from {
    width: 0
  }
  35% {
    width: 43%;
  }
  80% {
    width: 43%
  }
  100% {
    width: 0
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: white;
  }
}
.App-link {
  color: #445a09;
}

.About {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family: Garamond, serif;
  color: #8a3b65;
  margin-top: 10vh;
}
.About h1{
  font-size: 35px;
}

.Projects h1{
  font-size: 35px;
}
.Gallery h1{
  font-size: 35px;
  margin-top:12vmin;

}
.Projects{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #fffbf0;
  font-family: Garamond, serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('assets/background.jpeg');
}
.Gallery{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #8a3b65;
  font-family: Garamond, serif;
}
/*.Contact{*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(30px + 2vmin);*/
/*  color: #fffbf0;*/
/*  font-family: Garamond, serif;*/
/*  background-color: black;*/
/*}*/

.Logo {
  position: absolute;
  top: 0;
  left: 0;
  color: #f2e6ce;
  margin: 10px;
}