.App {
  text-align: center;
  background-color: #f2e6ce;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #f2e6ce;
  font-family: Garamond, serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('assets/background.jpeg');
}

.Tagline {
  font-size: calc(7px + 2vmin);
  opacity: .75;
  font-weight: 100;
  font-family: 'Trebuchet MS';
}

.App-link {
  color: #445a09;
}

.Main {
  min-height: 100vh;
  color: #445a09;
  margin-top: 15vh;
}

.Border {
  min-height: 10vh;
  /*background-image: url(assets/main/leaf_pattern.png);*/
  background-size: 40vh;
  background-repeat: repeat-x;
}

.Logo {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-size: calc(30px + 2vmin);
  color: #f2e6ce;
  font-family: Garamond, serif;
  margin: 20px;
}